<div id="head_bar">
<div class="wrap">
<div class="basket">Empty basket</div>
<%= @current_cart.id%>

<% @current_cart.order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.product.name %></td>
    <td><%= order_item.quantity %></td>
    <td><%= link_to 'Delete', order_item, :method => :delete, :confirm => "Really?" %></td>
  </tr>
<% end %>  
</div>
</div>