<div id="head_bar">
<div class="wrap">
<div class="basket">Basket</div>
<table>
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th></th>
  </tr>
<% @current_cart.order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.product.name %></td>
    <td><%= order_item.quantity %></td>
    <td><%= form_tag :controller => :order, :action => :delete, :id => order_item , :confirm => "Really?" do %>
      <%= submit_tag 'Delete' %>
    <% end %>
    </td>
  </tr>
<% end %> 
</table> 
</div>
</div>